__pycache__
.idea
*.a
*.avi
*.dylib
*.gz
*.jpg
*.log
*.out
*.png
*.so
/3rdparty
/bazel-*
/checkpoints
/cmake-build
/coco
/data
/models
/tensorlayer
/vis
cocoapi-master/
cocoapi/
inference/*png
models_hao*
src/tensorflow.cmake
test.py
