__pycache__
.DS_Store
.idea
*.a
*.avi
*.dylib
*.gz
*.idx
*.jpg
*.log
*.out
*.png
*.uff
/3rdparty
/bazel-*
/bin
/checkpoints
/cmake-build
/coco
/data
/lib
/tensorlayer
/vis
cmake_install.cmake
CMakeCache.txt
CMakeFiles
cocoapi-master/
cocoapi/
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
inference/*png
libstdtensor-prefix
libstdtracer-prefix
Makefile
test.py
test.py
Testing
third_party
venv
