ablog==0.10.19
numpydoc==1.0.0
myst-parser==0.15.1
furo==2021.6.18b36
sphinx-markdown-tables
Sphinx==3.1
nltk==3.6.2
numpy==1.19.5
cython==0.29.23
easydict==1.9
pycocotools==2.0.2
opencv-python==4.5.2.54
